.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black
}
.logo {
    width: 50px;
    height: 50px;
    padding: 10px;
}

.nav-items {
    padding: 0px 0 20px 0;
}
.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10;
}
.search {
    padding: 10;
}

.restaurant-card {
    width: 240px;
   border: 1px solid black;
   padding: 5px;
   margin: 10px;
   
}

.res-card-img-div {
    height: 250px;
    width: 250px;
}

.res-img {
    height: 100%;
    width: 100%;
    
}
.restaurant-container {
   display: flex;
   flex-wrap: wrap;

   
}
.restaurant-card:hover {
    cursor: pointer;
    border: 1px solid black;

}